<div class="session md-indigo">
  <div class="session-content">
    <div class="session-wrapper">
      <md-card>
        <md-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="text-xs-center pb-1">
              <p class="md-text-muted">Sign in with your SEED to continue.</p>
            </div>
            <div fxLayout="column"  fxLayoutAlign="space-around">
              <div class="pb-1">
                <md-textarea placeholder="SEED" [formControl]="form.controls['seed']" style="width: 100%"></md-textarea>
                <small *ngIf="form.controls['seed'].hasError('required') && form.controls['seed'].touched" class="md-text-warn">
                  SEED is required.</small>
              </div>

              <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>