.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 0 1 50%;
  width: 50%;
  position: relative;
  padding-bottom: 0.25em;
  box-sizing: border-box;
}

.item:nth-child(odd) {
  padding-right: 0.125em;
}

.item:nth-child(even) {
  padding-left: 0.125em;
}
