<app-toolbar></app-toolbar>
<div fxLayout="row" fxLayoutAlign="center space-between">
    <div class="" fxFlex="5%" fxShow.xs="false" fxShow.sm="false"></div>
    <div class="" fxFlex>
        <div fxLayout="column" class="">
            <div fxFlex class="container">
                <div class="" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-title-group>
                                <md-card-title>Australian Labour Hours</md-card-title>
                            </md-card-title-group>
                            <md-card-content>
                                <md-grid-list cols="2" rowHeight="35px">
                                    <md-grid-tile rowspan="2" colspan="1"><img src="assets/coins-flag-04.png" /></md-grid-tile>
                                    <md-grid-tile>1000.051 LHAU</md-grid-tile>
                                    <md-grid-tile>$34.5 AUD</md-grid-tile>
                                </md-grid-list>
                            </md-card-content>
                            <md-card-actions>
                                <button md-raised-button>Send</button>
                                <button md-raised-button>Redeem</button>
                                <button md-raised-button color="accent">Trade</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-title>British Labour Hours</md-card-title>
                            <md-card-content>
                                <md-card-content>
                                    <md-grid-list cols="2" rowHeight="35px">
                                        <md-grid-tile rowspan="2" colspan="1"><img src="assets/coins-flag-02.png" /></md-grid-tile>
                                        <md-grid-tile>43.00 LHGB</md-grid-tile>
                                        <md-grid-tile>&pound;14.5 GBP</md-grid-tile>
                                    </md-grid-list>
                                </md-card-content>
                            </md-card-content>
                            <md-card-actions>
                                <button md-raised-button>Send</button>
                                <button md-raised-button>Redeem</button>
                                <button md-raised-button color="accent">Trade</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-title>EU Labour Hours</md-card-title>
                            <md-card-content>
                                <md-grid-list cols="2" rowHeight="35px">
                                    <md-grid-tile rowspan="2" colspan="1"><img src="assets/coins-flag-03.png" /></md-grid-tile>
                                    <md-grid-tile>100 LHEU</md-grid-tile>
                                    <md-grid-tile>&euro;34.5 EUR</md-grid-tile>
                                </md-grid-list>
                            </md-card-content>
                            <md-card-actions>
                                <button md-raised-button>Send</button>
                                <button md-raised-button>Redeem</button>
                                <button md-raised-button color="accent">Trade</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-title>US Labour Hours</md-card-title>
                            <md-card-content>
                                <md-grid-list cols="2" rowHeight="35px">
                                    <md-grid-tile rowspan="2" colspan="1"><img src="assets/coins-flag-01.png" /></md-grid-tile>
                                    <md-grid-tile>100 LHUS</md-grid-tile>
                                    <md-grid-tile>$34.5 USD</md-grid-tile>
                                </md-grid-list>
                            </md-card-content>
                            <md-card-actions>
                                <button md-raised-button>Send</button>
                                <button md-raised-button>Redeem</button>
                                <button md-raised-button color="accent">Trade</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </div>
            <div fxFlex class="container">
                <div class="" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                                <img md-card-avatar src="assets/coins-flag-04.png"> &nbsp; LHAU / BTC &nbsp; <span class="font-weight-bold md-text-warn">-46,68</span>
                                <span fxFlex></span>
                                <button md-icon-button md-button-sm [md-menu-trigger-for]="card2" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
                            </md-card-subtitle>
                            <md-menu #card2="mdMenu" x-position="before">
                                <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
                                <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
                                <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
                                <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
                            </md-menu>
                            <md-card-content>
                                <canvas height="140" baseChart class="chart" 
                                    [datasets]="ComboChartDataLHAU" 
                                    [labels]="comboChartLabels" 
                                    [options]="ComboChartOptions"
                                    [colors]="chartColors" 
                                    [legend]="comboChartLegend" 
                                    [chartType]="barChartType"></canvas>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                                <img md-card-avatar src="assets/coins-flag-02.png"> &nbsp; LHGB / BTC &nbsp; <span class="font-weight-bold md-text-warn">-46,68</span>

                                <span fxFlex></span>
                                <button md-icon-button md-button-sm [md-menu-trigger-for]="card2" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
                            </md-card-subtitle>
                            <md-menu #card2="mdMenu" x-position="before">
                                <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
                                <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
                                <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
                                <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
                            </md-menu>
                            <md-card-content>
                                <canvas height="140" baseChart class="chart" 
                                [datasets]="ComboChartDataLHGB" [labels]="comboChartLabels" [options]="ComboChartOptions"
                                    [colors]="chartColors" [legend]="comboChartLegend" [chartType]="barChartType"></canvas>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                                <img md-card-avatar src="assets/coins-flag-03.png"> &nbsp; LHEU / BTC &nbsp; <span class="font-weight-bold md-text-warn">-46,68</span>

                                <span fxFlex></span>
                                <button md-icon-button md-button-sm [md-menu-trigger-for]="card2" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
                            </md-card-subtitle>
                            <md-menu #card2="mdMenu" x-position="before">
                                <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
                                <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
                                <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
                                <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
                            </md-menu>
                            <md-card-content>
                                <canvas height="140" baseChart class="chart" 
                                [datasets]="ComboChartDataLHEU" [labels]="comboChartLabels" [options]="ComboChartOptions"
                                    [colors]="chartColors" [legend]="comboChartLegend" [chartType]="barChartType"></canvas>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                                <img md-card-avatar src="assets/coins-flag-01.png"> &nbsp; LHUS / BTC &nbsp; <span class="font-weight-bold md-text-warn">-46,68</span>

                                <span fxFlex></span>
                                <button md-icon-button md-button-sm [md-menu-trigger-for]="card2" aria-label="Open card menu">
          <md-icon>more_vert</md-icon>
        </button>
                            </md-card-subtitle>
                            <md-menu #card2="mdMenu" x-position="before">
                                <button md-menu-item>
          <md-icon>settings</md-icon>
          Settings
        </button>
                                <button md-menu-item>
          <md-icon>more</md-icon>
          View More
        </button>
                                <button md-menu-item>
          <md-icon>notifications_off</md-icon>
          Disable notifications
        </button>
                                <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          Remove Panel
        </button>
                            </md-menu>
                            <md-card-content>
                                <canvas height="140" baseChart class="chart" [datasets]="ComboChartDataLHUS" [labels]="comboChartLabels" [options]="ComboChartOptions"
                                    [colors]="chartColors" [legend]="comboChartLegend" [chartType]="barChartType"></canvas>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </div>

            <div fxFlex class="container">
                <md-card>
                    <md-card-title>Latest Transactions</md-card-title>
                    <md-card-content>
                        <md-list>
                            <md-list-item>
                                12 Nov 2016 To: 3MsKhZJzGZ1hnZJZUPYUAKjGQdk7Q7qoCRa
                                <md-chip-list>
                                    <md-chip selected="true" color="primary">-10.0 LHAU</md-chip>
                                </md-chip-list>
                                &nbsp;Confirmations: 10
                            </md-list-item>
                            <md-list-item>
                                12 Nov 2016 From: 3MsKhZJzGZ1hnZJZUPYUAKjGQdk7Q7qoCRa
                                <md-chip-list>
                                    <md-chip color="primary">10.0 LHAU</md-chip>
                                </md-chip-list>
                                &nbsp;Confirmations: 2310
                            </md-list-item>
                            <md-list-item>
                                12 Nov 2016 From: 3MsKhZJzGZ1hnZJZUPYUAKjGQdk7Q7qoCRa
                                <md-chip-list>
                                    <md-chip selected="true" class="tx-income-amount">10.0 LHAU</md-chip>
                                </md-chip-list>
                                &nbsp;Confirmations: 10200
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

            </div>

                        <div fxFlex class="container">
                <md-card>
                    <md-card-title>Latest Transactions</md-card-title>
                    <md-card-content>


<td-expansion-panel label="label" sublabel="sublabel" expand="true|false" disabled="true|false">
  <template td-expansion-panel-header>
    ... add header content (overrides label and sublabel)
  </template>
  <template td-expansion-panel-label>
    ... add label content (if not used, falls back to [label] input)
  </template>
  <template td-expansion-panel-sublabel>
    ... add sublabel content (if not used, falls back to [sublabel] input)
  </template>
  <td-expansion-summary>
    ... add summary that will be shown when expansion-panel is "collapsed".
  </td-expansion-summary>
  ... add content that will be shown when the step is "expanded"
</td-expansion-panel>



                    </md-card-content>
                </md-card>

            </div>
        </div>

    </div>
    <div class="" fxFlex="5%" fxShow.xs="false" fxShow.sm="false"></div>
</div>