<toolbar></toolbar>
<div fxLayout fxLayout.xs="column" fxLayoutAlign="center space-between" fxLayoutGap="10px">
    <div class="" fxFlex="10%" fxShow.xs="false" fxShow.sm="false"></div>
    <div class="" fxFlex>

        <div fxLayout="column" class="">
            <div fxFlex class="container">

                <div class="" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" 
                    fxLayoutAlign="space-between center"
                    fxLayoutGap="10px" fxLayoutGap.sm="0px" fxLayoutGap.md="0px" fxLayoutGap.xs="0px">
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-title-group>
                                <md-card-title>Australian Labour Hours</md-card-title>
                            </md-card-title-group>
                            <md-card-content>
                                <md-grid-list cols="2" rowHeight="35px">
                                    <md-grid-tile rowspan="2" colspan="1"><img src="assets/coins-flag-04.png" /></md-grid-tile>
                                    <md-grid-tile>100 LHAU</md-grid-tile>
                                    <md-grid-tile>$34.5 AUD</md-grid-tile>
                                </md-grid-list>
                            </md-card-content>
                            <md-card-actions>
                                <button md-raised-button>Send</button>
                                <button md-raised-button>Redeem</button>
                                <button md-raised-button color="accent">Trade</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-title>British Labour Hours</md-card-title>
                            <md-card-content>
                                <md-card-content>
                                    <md-grid-list cols="2" rowHeight="35px">
                                        <md-grid-tile rowspan="2" colspan="1"><img src="assets/coins-flag-02.png" /></md-grid-tile>
                                        <md-grid-tile>100 LHGB</md-grid-tile>
                                        <md-grid-tile>&pound;34.5 GBP</md-grid-tile>
                                    </md-grid-list>
                                </md-card-content>
                            </md-card-content>
                            <md-card-actions>
                                <button md-raised-button>Send</button>
                                <button md-raised-button>Redeem</button>
                                <button md-raised-button color="accent">Trade</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-title>EU Labour Hours</md-card-title>
                            <md-card-content>
                                <md-grid-list cols="2" rowHeight="35px">
                                    <md-grid-tile rowspan="2" colspan="1"><img src="assets/coins-flag-03.png" /></md-grid-tile>
                                    <md-grid-tile>100 LHEU</md-grid-tile>
                                    <md-grid-tile>&euro;34.5 EUR</md-grid-tile>
                                </md-grid-list>
                            </md-card-content>
                            <md-card-actions>
                                <button md-raised-button>Send</button>
                                <button md-raised-button>Redeem</button>
                                <button md-raised-button color="accent">Trade</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="" fxFlex="350px">
                        <md-card>
                            <md-card-title>US Labour Hours</md-card-title>
                            <md-card-content>
                                <md-grid-list cols="2" rowHeight="35px">
                                    <md-grid-tile rowspan="2" colspan="1"><img src="assets/coins-flag-01.png" /></md-grid-tile>
                                    <md-grid-tile>100 LHUS</md-grid-tile>
                                    <md-grid-tile>$34.5 USD</md-grid-tile>
                                </md-grid-list>
                            </md-card-content>
                            <md-card-actions>
                                <button md-raised-button>Send</button>
                                <button md-raised-button>Redeem</button>
                                <button md-raised-button color="accent">Trade</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </div>
            <div fxFlex class="container">
                <md-card>
                    <md-card-title>Latest Transactions</md-card-title>
                    <md-card-content>
                    <md-list>
                        <md-list-item>
                            12 Nov 2016 To: 3MsKhZJzGZ1hnZJZUPYUAKjGQdk7Q7qoCRa <md-chip-list><md-chip selected="true" color="primary">-10.0 LHAU</md-chip></md-chip-list>
                        </md-list-item>
                        <md-list-item>
                            12 Nov 2016 From: 3MsKhZJzGZ1hnZJZUPYUAKjGQdk7Q7qoCRa <md-chip-list><md-chip color="primary">10.0 LHAU</md-chip></md-chip-list>
                        </md-list-item>
                        <md-list-item>
                            12 Nov 2016 From: 3MsKhZJzGZ1hnZJZUPYUAKjGQdk7Q7qoCRa <md-chip-list><md-chip selected="true" class="tx-income-amount">10.0 LHAU</md-chip></md-chip-list>
                        </md-list-item>
                    </md-list>
                    </md-card-content>
                </md-card>

            </div>
        </div>

    </div>
    <div class="" fxFlex="10%"></div>
</div>