// Import theming functions
@import '~@angular/material/core/theming/all-theme';

$md-chrono-primary: (
  50: #c6ddf7,
  100: #83b6ed,
  200: #5299e6,
  300: #1f75d1,
  400: #1b66b7,
  500: #17579c,
  600: #134881,
  700: #0f3967,
  800: #0b2a4c,
  900: #071b31,
  A100: #c6ddf7,
  A200: #83b6ed,
  A400: #1b66b7,
  A700: #0f3967,

  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: $white-87-opacity,
  )
);

$md-chrono-accent: (
  50: #ffffff,
  100: #ffffff,
  200: #f7e7d4,
  300: #ecc598,
  400: #e7b67e,
  500: #e2a864,
  600: #dd9a4a,
  700: #d88b30,
  800: #c57b25,
  900: #ab6b20,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e7b67e,
  A700: #d88b30,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);


$primary: md-palette($md-chrono-primary);
//$candy-app-accent:  md-palette($md-chrono-accent, A200, A100, A400);
$candy-app-accent:  md-palette($md-chrono-accent);
// The warn palette is optional (defaults to red).
$candy-app-warn:    md-palette($md-red);

$chrono-green-pallete: md-palette($md-green);

// Create the theme object (a Sass map containing all of the palettes).
$chrono-theme: md-light-theme($primary, $candy-app-accent, $candy-app-warn);

@include md-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chrono-theme);

$foreground: map-get($chrono-theme, foreground);

.md-text-muted {
  color: md-color($foreground, secondary-text) !important; 
}

.md-text-primary {
  color: md-color($primary) !important;
}

.md-text-green {
  color: md-color($primary) !important;
}

.md-text-warn {
  color: md-color($candy-app-accent) !important;
}



/* Login form */
/* $error-pages
 ------------------------------------------*/
.session {
  position: relative;
  z-index: 4000;
  min-height: 100vh;
  @include flexbox;
  @include flex-direction(column);
}

.session-content {
  padding: 40px $gutter;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex(1 0 auto);
  @include flex-direction(column);
  min-height: 100%;
}

.session-wrapper {
  @include flex(none);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.lockscreen-avatar {
  position: relative;
  display: block;
  margin: -75px auto 0!important;
}

.lockscreen-wrapper {
  @include flex(none);
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.error-title {
  font-size: 150px;
  line-height: 1.2;
  font-weight: 900;
  display: inline-table;
  position: relative;
  background: md-color($primary);
  color: #fff;
  padding: 0 $gutter;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 0 $gutter;
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: md-color($primary);
    border-width: 8px;
    margin-left: -8px;
  }
}

.error-subtitle {
  font-size: 32px;
  font-weight: 300;
}
