/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: rgba(220, 220, 220, 1) url('./assets/LH-main-background.png');
}

.container {
  margin: 20px;
}